
    * { -webkit-box-sizing:     border-box;
        -moz-box-sizing:         border-box;
        box-sizing:                  border-box;
        -webkit-font-smoothing:  antialiased;
        font-smoothing:               antialiased;
    }
    html, body {
      margin: 35px 0 0px;
      padding: 0px 10px 0px 88px;
      background-color: #fff;
      color: #4A4A4A;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 100%;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      word-spacing: 0.1em;
    }
    h2 {
      text-align: center;
      margin: 50px 0 0px;
      font-size: 2rem;
      padding-top: 70px;
      margin-top: -70px;
    }
    .absolute-center {
      position: absolute;
      top: 45%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .login-container {
      width: 400px;
      height: auto;
      padding: 30px;
      text-align: center;
      border: none;
      border-radius: 2px;
      background-color: #fff;
      -webkit-transition: box-shadow 900ms ease;
      -moz-transition: box-shadow 900ms ease;
      -ms-transition: box-shadow 900ms ease;
      -o-transition: box-shadow 900ms ease;
      transition: box-shadow 900ms ease;
    }
    .login-container-active {
      box-shadow: 0px 3px 14px rgba(0,0,0,0.22);
    }
    .racing-logo {
      margin-bottom: 25px;
    }
    .nav-logo img {
      float: left;
      height: 43px;
      margin: 3px 0px 0px 23px;
    }
    .userName,
    .userPass {
      display: block;
      width: 100%;
      height: 42px;
      padding: 3px 5px;
      margin: 12px 0px 0px;
      border: none;
      border-bottom: 1px solid#4e4e4e;
      font-size: 1rem;
    }
    .userName:focus .userName::-webkit-input-placeholder {
      right: 100px;
    }

    .userName:focus,
    .userPass:focus,
    .loginButton:focus {
      outline: none;
    }
    .loginButton {
      width: 100px;
      height: 42px;
      margin: 20px auto 0px;
      border: none;
      background-color: #fff;
      color: #4e4e4e;
      display: block;
      font-size: 1.1em;
      cursor: pointer;
      -webkit-transition: color 300ms ease;
      -moz-transition: color 300ms ease;
      -ms-transition: color 300ms ease;
      -o-transition: color 300ms ease;
      transition: color 300ms ease;
    }
    .loginButton:hover {
      color: #990000;
    }
    .loginButton:hover svg{
      fill: #990000;
    }
    .alignLogin {
      padding-right: 18px;
    }
    .loginError {
      display: none;
      position: absolute;
      bottom: -50px;
      left: 0; right: 0;
      margin: 0 auto;
      text-align: center;
      background-color: #D00000;
      color: #fff;
      padding: 10px 15px;
      width: 75%;
      border-radius: 3px;
    }
    .invalidLogin {
      border-bottom: 2px solid #D00000;
    }
    .loginIcon {
      display: inline-block;
      color: #4e4e4e;
      fill: #4e4e4e;
      height: 19px;
      width: 20px;
      position: absolute;
      margin: 2px;
      -webkit-transition: fill 300ms ease;
      -moz-transition: fill 300ms ease;
      -ms-transition: fill 300ms ease;
      -o-transition: fill 300ms ease;
      transition: fill 300ms ease;
    }
    nav {
      opacity: 0;
      position: fixed;
      z-index: 2;
      height: 55px;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      border-bottom: 2px solid rgba(0,0,0,0.08);
      box-shadow: 0px 0px 12px rgba(0,0,0,0.088);
      webkit-transition: opacity 800ms ease;
      -moz-transition: opacity 800ms ease;
      -ms-transition: opacity 800ms ease;
      -o-transition: opacity 800ms ease;
      transition: opacity 800ms ease;
    }
    nav ul {
      float: right;
      top: -16px;
      position: fixed;
      right: 0px;
    }
    nav ul li {
      float: right;
      list-style: none;
      padding: 17px 15px;
      border-left: 2px solid #eee;
    }
    .logoutButton {
      float: right;
      border: none;
      color: #434343;
      display: block;
      background-color: transparent;
      font-size: 1em;
      cursor: pointer;
      font-weight: 300;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      -ms-transition: background-color 300ms ease;
      -o-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
    }
    .selectInput {
      float: right;
      top: 0px;
      left: 5px;
      background-color:transparent;
      color: #434343;
      border: none;
      border-radius: 0px;
      font-size: 1em;
      /* -webkit-appearance: none; */
    }
    .selectInput:hover {
      cursor: pointer;
    }
    .selectInput:focus {
      outline: none;
    }
    .hideLoading {
      display: none;
    }
     .loadingMessage {
      text-align: center;
      margin:0px 0px 20px 25px;
      font-weight: 600;
    }
    aside::-webkit-scrollbar {
      display: none;
    }
    .aside-default {
      position: fixed;
      overflow-y:scroll;
      overflow-x:hidden;
      z-index: 1;
      left: 0px;
      top: 55px;
      padding-bottom: 70px;
      height: 100%;
      width: 165px;
      background-color: #fff;
      border-right: 2px solid #eee;
      -webkit-transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -webkit-transform: translate3d(-100%, 0px, 0px);
      -moz-transform: translate3d(-100%, 0px, 0px);
      -ms-transform: translate3d(-100%, 0px, 0px);
      -o-transform: translate3d(-100%, 0px, 0px);
      transform: translate3d(-100%, 0px, 0px);
    }
    .aside-active {
      -webkit-transform: translate3d(0%, 0px, 0px);
      -moz-transform: translate3d(0%, 0px, 0px);
      -ms-transform: translate3d(0%, 0px, 0px);
      -o-transform: translate3d(0%, 0px, 0px);
      transform: translate3d(0%, 0px, 0px);
    }
    aside ul {
      padding: 0;
      margin: 0;
    }
    aside ul li {
        list-style: none;
        border-bottom: 1px solid #EDEDED;
    }
    aside ul li a {
      width: 100%;
        padding: 8px 10px;
        display: block;
      color: #696969;
      text-decoration: none;
    }
    aside ul li a:hover {
      background-color: #fafafa;
    }
    .circle {
      /* absolute position with 3d animation = render layer */

      position: absolute;
      border: 3px solid transparent;
      border-top: 3px solid hsl(0, 100%, 30%);
      border-radius: 50%;
      /* shared animation */

      animation: rotate linear infinite;
    }

    .circle.one {
      height: 50px;
      width: 50px;
      left: 50px;
      top: 50px;
      animation-duration: 0.85s;
    }

    .circle.two {
      height: 75px;
      width: 75px;
      top: 38px;
      left: 38px;
      animation-duration: 0.95s;
    }

    .circle.three {
      height: 100px;
      width: 100px;
      top: 25px;
      left: 25px;
      animation-duration: 1.05s;
    }

    @keyframes rotate {
      /* rotate on 3d transform for best perf, it ensures GPU accelerated animation */

      from {
        transform: rotateZ(360deg);
      }
      to {
        transform: rotateZ(0deg);
      }
    }

    .loader {
      position: fixed;
      z-index: 2;
      top: 50%;
      left: 50%;
      margin: -90px 0 0 -90px;
      border-radius: 50%;
    }
    .onload-reveal {
      opacity: 1;
    }

    .uploadForm {
        padding-top: 1px;
    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        display: inline-block;
        cursor: pointer;
        padding: 0px 5px;
        font-size: 1rem;
        color: #4e4e4e;
    }
    .uploadButton {
      cursor: pointer;
      border: none;
      opacity: 0.4;
      padding: 0px 11px;
      background-color: #fff;
      font-size: 1rem;
      color: #4e4e4e;
      border-left: 1px solid #eee;
      outline: none;
    }
    .toBeUploaded {
      text-align: right;
      border: none;
      height: 48px;
      font-size: 0.8rem;
      padding: 25px 25px;
      margin-top: 1px;
    }
    .uploadMessage {
      position: fixed;
      text-align: center;
      z-index: 2;
      bottom: 30px;
      right: 30px;
      background-color: #fff;
      color: #4e4e4e;
      border: 1px solid #eee;
      height: 50px;
      width: auto;
      padding: 0px 20px;
      border-radius: 4px;
      box-shadow: 0px 2px 8px rgba(0,0,0,0.22);
      -webkit-transition: transform 1011ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: transform 1011ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: transform 1011ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: transform 1011ms cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: transform 1011ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -webkit-transform: translate3d(600px, 0px, 0px);
      -moz-transform: translate3d(600px, 0px, 0px);
      -ms-transform: translate3d(600px, 0px, 0px);
      -o-transform: translate3d(600px, 0px, 0px);
      transform: translate3d(600px, 0px, 0px);

    }
    .uploadedMessage p {
      margin: 0;
      padding: 0;
    }
    .uploadMessage-active {
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px);
    }
  </style>