
    * { -webkit-box-sizing:     border-box;
        -moz-box-sizing:         border-box;
        box-sizing:                  border-box;
        -webkit-font-smoothing:  antialiased;
        font-smoothing:               antialiased;
    }
    html, body {
      margin: 41px 0 0px;
      padding: 0px 0px 0px 84px;
      background-color: #fff;
      color: #4A4A4A;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 100%;
      font-family: "Roboto","Helvetica Neue", Helvetica, sans-serif;
    }
    h2 {
        position: relative;
      text-align: center;
      margin: 00px 28px 0px 43px;
      padding: 16px 0px;
      font-size: 2rem;
      background-color: #fafafa;
      box-shadow:  0 0px 3px rgba(0,0,0,.1);
    }
    h2 span {
        position: absolute;
        top: -95px;
    }
    .absolute-center {
      position: absolute;
      top: 45%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .login-container {
      width: 400px;
      height: auto;
      padding: 30px;
      text-align: center;
      border: none;
      border-radius: 2px;
      background-color: #fff;
      -webkit-transition: box-shadow 900ms ease;
      -moz-transition: box-shadow 900ms ease;
      -ms-transition: box-shadow 900ms ease;
      -o-transition: box-shadow 900ms ease;
      transition: box-shadow 900ms ease;
    }
    .login-container-active {
      box-shadow: 0px 3px 14px rgba(0,0,0,0.22);
    }
    .racing-logo {
      margin-bottom: 25px;
    }
    .racing-logo svg {
        width: 100%;
    }
    .nav-logo svg {
      float: left;
      height: 43px;
      margin: 5px 0px 0px 23px;
      fill: #B4000C;
    }
    .userName,
    .userPass {
      display: block;
      width: 100%;
      height: 42px;
      padding: 3px 5px;
      margin: 12px 0px 0px;
      border: none;
      border-bottom: 1px solid #4e4e4e !important;
      font-size: 1rem;
    }
    .userName:focus .userName::-webkit-input-placeholder {
      right: 100px;
    }

    .userName:focus,
    .userPass:focus,
    .loginButton:focus,
    .submitComment:focus,
    .addComment:focus {
      outline: none;
    }
    .loginButton {
      width: 100px;
      height: 42px;
      margin: 20px auto 0px;
      border: none;
      background-color: #fff;
      color: #4e4e4e;
      display: block;
      font-size: 1.1em;
      cursor: pointer;
      -webkit-transition: color 300ms ease;
      -moz-transition: color 300ms ease;
      -ms-transition: color 300ms ease;
      -o-transition: color 300ms ease;
      transition: color 300ms ease;
    }
    .loginButton:hover {
      color: #990000;
    }
    .loginButton:hover svg{
      fill: #990000;
    }
    .alignLogin {
      padding-right: 18px;
    }
    .loginError {
      display: none;
      position: absolute;
      bottom: -50px;
      left: 0; right: 0;
      margin: 0 auto;
      text-align: center;
      background-color: #D00000;
      color: #fff;
      padding: 10px 15px;
      width: 75%;
      border-radius: 3px;
    }
    .invalidLogin {
      border-bottom: 2px solid #D00000;
    }
    .loginIcon {
      display: inline-block;
      color: #4e4e4e;
      fill: #4e4e4e;
      height: 19px;
      width: 20px;
      position: absolute;
      margin: 2px;
      -webkit-transition: fill 300ms ease;
      -moz-transition: fill 300ms ease;
      -ms-transition: fill 300ms ease;
      -o-transition: fill 300ms ease;
      transition: fill 300ms ease;
    }
    div[id^=chartdiv] {
        height: 450px;
        margin: 00px 28px 30px 43px;
        padding: 15px 5px;
        box-shadow: rgba(0, 0, 0, 0.105882) 0px 1px 3px;
        overflow: hidden;
        text-align: left;
        background-color: rgb(255, 255, 255);
    }
    nav {
      opacity: 0;
      position: fixed;
      z-index: 3;
      height: 55px;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      border-bottom: 1px solid #e8e8e8;
      webkit-transition: opacity 800ms ease;
      -moz-transition: opacity 800ms ease;
      -ms-transition: opacity 800ms ease;
      -o-transition: opacity 800ms ease;
      transition: opacity 800ms ease;
    }
    nav ul {
      float: right;
      top: -16px;
      position: fixed;
      right: 0px;
    }
    nav ul li {
      float: right;
      list-style: none;
      padding: 0px;
      border-left: 0px solid rgba(255,255,255,0.1);
    }
    .logoutButton {
      float: right;
      border: none;
      color: #4e4e4e;
      display: block;
      background-color: transparent;
      font-size: 17px;
      cursor: pointer;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      -ms-transition: background-color 300ms ease;
      -o-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
      padding: 18px 14px;
      border-left: 1px solid #eee;
      margin: 0px 6px;
      font-family: "Roboto","Helvetica Neue", Helvetica, sans-serif;
    }
    .selectInput {
      float: right;
      top: 0px;
      left: 5px;
      background-color:transparent;
      color: #4e4e4e;
      border: none;
      font-size: 1em;
      border: 0px solid #fff;
      border-radius: 43px;
      margin: 17px 10px;
      font-family: "Roboto","Helvetica Neue", Helvetica, sans-serif;
    }
    .selectInput:hover {
      cursor: pointer;
    }
    .selectInput:focus {
      outline: none;
    }
    .hideLoading {
      display: none;
    }
     .loadingMessage {
      text-align: center;
      margin:0px 0px 20px 25px;
      font-weight: 600;
    }
    aside::-webkit-scrollbar {
      display: none;
    }
    .aside-default {
      position: fixed;
      overflow-y:scroll;
      overflow-x:hidden;
      z-index: 1;
      left: 0px;
      top: 55px;
      padding-bottom: 70px;
      height: 100%;
      width: 180px;
      border-right: 1px solid #e8e8e8;
      background-color: #fff;
      /*box-shadow:  3px 0px 12px rgba(0,0,0,0.11);*/
      -webkit-transition: transform 444ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: transform 444ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: transform 444ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: transform 444ms cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: transform 444ms cubic-bezier(0.39, 0.575, 0.565, 1);
      transition-delay: 100ms;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    aside ul {
      padding: 0;
      margin: 0;
      background-color: #fff;
    }
    aside ul li {
        list-style: none;
        border-bottom: 1px solid #ededed;
    }
    aside ul li a {
      width: 100%;
        padding: 10px 14px;
        display: block;
      color: #4e4e4e;
      text-decoration: none;
      font-size: 14px;
    }
    aside ul li a:hover {
      background-color: #fafafa;
    }
    .circle {
      /* absolute position with 3d animation = render layer */

      position: absolute;
      border: 3px solid transparent;
      border-top: 3px solid hsl(0, 100%, 30%);
      border-radius: 50%;
      /* shared animation */

      animation: rotate linear infinite;
    }

    .circle.one {
      height: 50px;
      width: 50px;
      left: 50px;
      top: 50px;
      animation-duration: 0.85s;
    }

    .circle.two {
      height: 75px;
      width: 75px;
      top: 38px;
      left: 38px;
      animation-duration: 0.95s;
    }

    .circle.three {
      height: 100px;
      width: 100px;
      top: 25px;
      left: 25px;
      animation-duration: 1.05s;
    }

    @keyframes rotate {
      /* rotate on 3d transform for best perf, it ensures GPU accelerated animation */

      from {
        transform: rotateZ(360deg);
      }
      to {
        transform: rotateZ(0deg);
      }
    }

    .loader {
      position: fixed;
      z-index: 2;
      top: 50%;
      left: 50%;
      margin: -90px 0 0 -90px;
      border-radius: 50%;
    }
    .onload-reveal {
      opacity: 1;
    }

    .uploadForm {
        padding-top: 1px;
    }
    input[type="file"] {
        display: none;
    }
    /* Change autofill color to white */
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input:-webkit-autofill:focus {
        -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
        -webkit-text-fill-color: #434343;
    }
    .confirm-upload {
        position: relative;
    }
    .custom-file-upload {
        display: inline-block;
        float: right;
        cursor: pointer;
        font-size: 17px;
        color: #4e4e4e;
        padding: 15px 17px;
        margin: 0px;
    }
    .custom-file-upload::before {
      content: url('../img/upload-arrow.svg');
      display: inline-block;
      width: 25px;
      float: left;
      margin: -4px 5px 0px 0px;
    }
    .confirmUpload {
        position:   relative;
        z-index: 0;
        -webkit-transition: transform 333ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -moz-transition: transform 333ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -ms-transition: transform 333ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -o-transition: transform 333ms cubic-bezier(0.39, 0.575, 0.565, 1);
        transition: transform 333ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -webkit-transform: translate3d(0px, -110%, 0px);
        -moz-transform: translate3d(0px, -110%, 0px);
        -ms-transform: translate3d(0px, -110%, 0px);
        -o-transform: translate3d(0px, -110%, 0px);
        transform: translate3d(0px, -110%, 0px);
    }
    .confirmUpload-active {
        -webkit-transform: translate3d(0px, 3%, 0px);
        -moz-transform: translate3d(0px, 3%, 0px);
        -ms-transform: translate3d(0px, 3%, 0px);
        -o-transform: translate3d(0px, 3%, 0px);
        transform: translate3d(0px, 3%, 0px);
    }
    .uploadButton {
      cursor: pointer;
      border: none;
      padding: 0px 11px;
      background-color: #fafafa;
      font-size: 1rem;
      color: #4e4e4e;
      border-left: 0px solid rgba(255,255,255,0.1);
      outline: none;
      padding: 16px 18px;
      margin: 0px;
      margin-top: 1px;
      box-shadow: -1px 2px 6px rgba(0,0,0,0.11);
      position: relative;
      z-index: 1;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
    }
    .uploadButton:hover {
        background-color: #F7F5F5;
    }

    .toBeUploaded {
      text-align: left;
      border: none;
      height: 48px;
      font-size: 0.8rem;
      padding: 25px 19px;
      margin-top: 1px;
      color: #4e4e4e;
      float: right;
      position: fixed;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.11);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .uploadMessage {
      position: fixed;
      text-align: center;
      z-index: 2;
      top:  60px;
      right: 8px;
      color: #fff;
      background-color: #D32F2F;
      height: 50px;
      width: auto;
      padding: 0px 20px;
      border-radius: 4px;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.18);
      -webkit-transition: transform 808ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: transform 808ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: transform 808ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: transform 808ms cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: transform 808ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -webkit-transform: translate3d(600px, 0px, 0px);
      -moz-transform: translate3d(600px, 0px, 0px);
      -ms-transform: translate3d(600px, 0px, 0px);
      -o-transform: translate3d(600px, 0px, 0px);
      transform: translate3d(600px, 0px, 0px);

    }
    .uploadedMessage p {
      margin: 0;
      padding: 0;
    }
    .uploadMessage-active {
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px);
    }

    .moreButton {
      float: right;
      border: none;
      color: #4e4e4e;
      display: block;
      background-color: transparent;
      font-size: 17px;
      cursor: pointer;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      -ms-transition: background-color 300ms ease;
      -o-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
      padding: 18px 2px 18px 16px;
      border-left: 1px solid #eee;
      margin: 0px 6px;
    }

    .moreInfo {
      position: fixed;
      overflow-y: auto;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: 55px;
      left: 0px; right: 0px;
      background-color: #fff;
      -webkit-transform: translate3d(0px, 100%, 0px);
      -moz-transform: translate3d(0px, 100%, 0px);
      -ms-transform: translate3d(0px, 100%, 0px);
      -o-transform: translate3d(0px, 100%, 0px);
      transform: translate3d(0px, 100%, 0px);
      -webkit-transition: transform 514ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: transform 514ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: transform 514ms cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: transform 514ms cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: transform 514ms cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    .moreButton::after {
      content: url('../img/more-triangle.svg');
      float: right;
      display: inline-block;
      width: 12px;
        height: 0px;
      margin: -2px 0px 0px 6px;
    }
    .showMoreInfo {
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px);
    }
    .moreInfo-container {
      margin: 25px auto;
      width: 95%;
      max-width: 1024px;
    }
    .moreInfo-2--3 {
        float: left;
        width: 66%;
    }
    .moreInfo-1--3 {
        float: left;
        width: 33%;
    }
    .moreInfo-container img {
        float: right;
        width: 325px;
    }
    .moreInfo-container h3 {
            margin: 20px 0px 8px 0px;
    }
    .moreInfo-container ol {
        margin: 5px 0px;
    }
    .moreInfo-container ul {
        margin: 5px 0px;
    }
    .moreInfo-container a {
        color: #4e4e4e;
    }
    .moreInfo-container .info-module li {
        margin: 3px 0px;
        word-wrap: break-word;
    }

    .aside-comments {
        position: fixed;
        z-index: 1;
        pointer-events: none;
        background-color: rgba(255,255,255,0.44);
        border-left: 1px solid #eee;
        height: 100%;
        width: 326px;
        right: 0px;
        top: 55px;
        box-shadow: -1px 0px 5px rgba(0,0,0,0.11);
        -webkit-transition: transform 333ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-transition: transform 333ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -ms-transition: transform 333ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: transform 333ms cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: transform 333ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transform: translate3d(100%, 0px, 0px);
        -moz-transform: translate3d(100%, 0px, 0px);
        -ms-transform: translate3d(100%, 0px, 0px);
        -o-transform: translate3d(100%, 0px, 0px);
        transform: translate3d(100%, 0px, 0px);
    }
    .aside-comments ul {
        background-color: rgba(255,255,255,0.7);
        overflow-y: scroll;
         height: auto;
    }
    .aside-comments li {
        width: 100%;
        padding: 10px 12px;
        display: block;
        color: #4e4e4e;
        background-color: rgba(255,255,255,0.75);
        text-decoration: none;
        font-size: 14px;
        white-space: pre;
        word-wrap:break-word;
        list-style: lower-roman;
    }
    .postComments {
        position: absolute;
        z-index: 4;
        right: 0px;
        bottom: 60px;
        padding-top: 10px;
    }
    .addComment {
        pointer-events: auto;
        width: 100%;
        background-color: rgba(255,255,255,0.88);
        border: 1px solid #A1A1A1;
        height: 60px;
        margin: 1px 14.5px 5px;
        padding: 3px 5px;
        width: 294px;
        font-size: 0.8rem;
         resize:none;
         box-shadow:  inset 1px 1px 4px rgba(0,0,0,0.12);
    }
    .submitComment {
        pointer-events: auto;
        font-size: 1rem;
        width: 100%;
        border-color: #C62828;
        border: none;
        background-color:  #C62828;
        color: #fff;
        padding: 10px 10px;
        margin: 1px 14.5px 5px;
        width: 294px;
        cursor: pointer;
        -webkit-transition: all 288ms ease;
        -moz-transition: all 288ms ease;
        -ms-transition: all 288ms ease;
        -o-transition: all 288ms ease;
        transition: all 288ms ease;
    }
    .submitComment:hover {
        border-color: #E53935;
        background-color: #E53935;
    }
    .toggleComments {
        cursor: pointer;
        display: block;
    }
    .toggleComments .notebook-icon {
        width: 52px;
        padding: 9px 6px 11px 16px;
        border-left: 1px solid #eee;
        -webkit-transition: all 275ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-transition: all 275ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -ms-transition: all 275ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: all 275ms cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 275ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .border-left {
        border-left: 1px solid #eee;
    }
    .aside-active {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }

    .demo-container {
      width: 400px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      padding: 15px 25px;
      box-shadow: 0px 2px 8px rgba(0,0,0,0.16);
      font-weight: 400;
      line-height: 1.3;
      
      transform: -webkit-translateY(-140%);
      transform: -moz-translateY(-140%);
      transform: translateY(-140%);
      
      -moz-animation-name: modalSlideIn;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.100);
      -moz-animation-duration: 500ms;
      -moz-animation-delay: 300ms;
      -moz-animation-fill-mode: forwards;

      -webkit-animation-name: modalSlideIn;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.100);
      -webkit-animation-duration: 500ms;
      -webkit-animation-delay: 300ms;
      -webkit-animation-fill-mode: forwards;

      animation-name: modalSlideIn;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.100);
      animation-duration: 500ms;
      animation-delay: 300ms;
      animation-fill-mode: forwards;
    }

    .demo-container p a {
      opacity: 0.5;
      color: #4e4e4e;
    }

    h3 {
      line-height: 1;
      font-weight: 400;
    }

    @-moz-keyframes modalSlideIn {
        0% {-moz-transform: translateY(-140%);}
        100% {-moz-transform: translateY(0%);}
    }
    @-webkit-keyframes modalSlideIn {
        0% {-webkit-transform: translateY(-140%);}
        100% {-webkit-transform: translateY(0%);}
    }
    @keyframes modalSlideIn {
        0% {transform: translateY(-140%);}
        100% {transform: translateY(0%);}
    }

    @media all and (max-width: 1024px) {
        .moreInfo-2--3 {
            width: 100%;
        }
        .moreInfo-1--3 {
            display: none;
        }
        .moreInfo-container {
            margin-top: 0px;
        }
    }
    @media all and (max-width: 960px) {
        body,html {
            margin-top: 35px;
            padding: 0px;
        }
        .aside-comments  {
            -webkit-transform: translate3d(100%, 0px, 0px) !important;
            -moz-transform: translate3d(100%, 0px, 0px) !important;
            -ms-transform: translate3d(100%, 0px, 0px) !important;
            -o-transform: translate3d(100%, 0px, 0px) !important;
            transform: translate3d(100%, 0px, 0px) !important;
        }
        .aside-default {
            -webkit-transform: translate3d(-100%, 0px, 0px) !important;
            -moz-transform: translate3d(-100%, 0px, 0px) !important;
            -ms-transform: translate3d(-100%, 0px, 0px) !important;
            -o-transform: translate3d(-100%, 0px, 0px) !important;
            transform: translate3d(-100%, 0px, 0px) !important;
        }
        nav ul li:nth-child(n+5),
        .toggleComments {
            display: none;
        }

        h2 {
            margin: 0px 10px;
            padding: 10px;
            font-size: 1.6rem;
        }
        div[id^=chartdiv] {
            margin: 0px 10px 10px!important;
            padding: 5px !important;
        }
    }
    @media all and (max-width: 500px) {
        .nav-logo  {
            width: 50px;
            display: none;
        }
        .border-left {
            border: none;
        }
        .login-container {
            width: 92%;
        }
        .racing-logo {
          margin-bottom: 5px;
        }
        .loginButton {
          width: 200px;
      }
      .moreButton,
      .logoutButton{
        font-size: 15px;
      }
      .selectInput {
        margin: 17px 3px;
      }
}
